.movies-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
}

.view-title {
  color: white;
  font-size: 3rem;
  text-align: center;
  border-top: 2.5px solid crimson;
  width: fit-content;
  margin: 2%;
}

.card-holder {
  background-color: #282c34;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
